.video {

    .container {
        justify-content: space-between;
        padding: 10px 0;
        min-height: 76vh;

        .content {
            height: 100%;
            flex-direction: column;
            width: 300px;
        }

        .video-player {
            width: 650px;
            height: fit-content;
            display: flex;
            justify-content: center;
            position: sticky;
            top: 100px;

        }

        .video-collection {
            flex-direction: column;
            position: relative;

            h3 {
                font-size: 22px;
                height: 40px;
                text-align: left;
                line-height: 40px;
                margin-bottom: 15px;


                &:hover {
                    cursor: pointer;
                    color: #267DF4;
                }
            }
            
            .list {
                top: 25px;
                height: 0;
                pointer-events: none;
                margin-bottom: 10px;
                opacity: 0;
            }

            p {
                margin-bottom: 0;
                margin-left: 0;
                width: fit-content;
                height: 0;

                &:hover {
                    cursor: pointer;
                    color: #267DF4;
                }
            }

            .visible {
                height: fit-content;
                pointer-events: all;
                opacity: 1;
                transition: all .5s ease-in;

                p {
                    margin-bottom: 10px;
                    margin-left: 20px;
                    width: fit-content;
                    height: 30px;
                }
            }

            .headline {
                color: #267DF4;
            }

            p.headline {
                border-bottom: 2px solid #267DF4;
            }
        }
    }


}



@media (max-width: 900px) {
    .video {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        .container {
            flex-direction: column-reverse;
            justify-content: flex-end;
            padding: unset;
            overflow-y: auto;
            flex-grow: 1;
            // min-height: 500px;
    
            .content {
                width: 96vw;
                overflow-y: scroll;
                max-height: 53vh;
                flex-grow: 1;
            }
    
            .video-player {
                width: 96vw;
                height: 230px;
                background-color: #F4F4FF;
                align-items: center;
                position: unset;
    
                iframe {
                    height: 200px;
                    z-index: 5;
                }
            }
    
            .video-collection {
                flex-direction: column;
                position: relative;
    
                h3 {    
                    height: 50px;
                    margin-left: 10px;
                    line-height: 50px;

                    &:hover {
                        cursor: pointer;
                        color: #267DF4;
                    }
                }
                
                .list {
                    position: unset;
                    top: 25px;
                    height: 0;
                    pointer-events: none;
                    margin-bottom: 10px;
                    opacity: 0;
                    display: none;
                }
    
                p {
                    margin-bottom: 10px;
    
                    &:hover {
                        cursor: pointer;
                        color: #267DF4;
                    }
                }
    
                .visible {
                    display: block;
                    height: fit-content;
                    pointer-events: all;
                    opacity: 1;
                    transition: unset;
                }
            }
        }
    
    
    }

    
}