.parts {

    .container {
        margin: 30px auto;
    }

    .parts-container {
        margin-bottom: 50px;

        h2 {
            font-size: 32px;
            margin-bottom: 30px;
        }

        .grid {
            grid-template-columns: repeat(5, 170px);
            grid-auto-rows: 250px;
            grid-gap: 25px;
            justify-content: center;
        }

        .part-wrapper {
            border: 1px solid black;
            border-radius: 30px;

            &:hover {
                background-color: #267DF4;
                color: white;
            }
        }

        .part {
            height: 100%;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            
            img {
                height: 150px;
                object-fit: contain;
                object-position: center;
            }

            p {
                font-size: 18px;
                text-align: center;
            }

        }
    }
}


@media (max-width: 900px) {
    .parts {
     
        .container {
            margin: 0px auto;
        }

        .parts-container {
            h2 {
                font-size: 4vh;
                text-align: center;
            }

            .grid {
                grid-template-columns: 150px 150px;
                grid-auto-rows: 200px;
                justify-content: center;

                img {
                    height: 120px;
                }
            }

            
        }
    }
}